* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #f8fafc;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #2563eb, #1e40af);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #22c55e;
  color: #022c22;
}

.features {
  display: flex;
  gap: 20px;
  padding: 60px 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  text-align: center;
}

.how {
  text-align: center;
  padding: 60px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  background: #020617;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}
.cta {
  background: #16a34a;
  color: #022c22;
  text-align: center;
  padding: 80px 20px;
}

.cta button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  background: #022c22;
  color: #ecfdf5;
  font-size: 1rem;
  cursor: pointer;
}
